# torch==2.0.0
# torchvision==0.15.1
# torchaudio==2.0.1
transformers==4.30.0
pillow
pdf2image
python-docx
pytesseract
runpod
omegaconf
timm==0.6.13
# webdataset
# decord
peft==0.2.0
accelerate==0.20.3
bitsandbytes==0.39.0
opencv-python-headless
sentence-transformers
requests
pandas
matplotlib
pyyaml
tqdm
# iopath
psutil
scikit-image
# git+https://github.com/ranjaykrishna/visual_genome_python_driver.git
# wandb
huggingface-hub==0.18.0
regex==2022.10.31
tokenizers==0.13.2
gradio==3.47.1
