torch
torchvision
transformers
pillow
pdf2image
python-docx
pytesseract
runpod
omegaconf
timm
webdataset
decord
peft
accelerate
bitsandbytes
opencv-python-headless
sentence-transformers
requests
pandas
matplotlib
pyyaml
tqdm
iopath
psutil
scikit-image
visual-genome
wandb
huggingface-hub
regex
tokenizers
